@import "../utilities/variables";

/*Styles section */
main{
    /*margin-top: 2%;*/
    .container{
        .bg-info-contacto{
            background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.9));
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
            height: 600px;
            padding-top: 1.65%;
            .map-responsive{
                 overflow:hidden;
                 padding-bottom:50%;
                 position:relative;
                 height:0;
                iframe{
                      left:0;
                      top:5rem;
                      height:100%;
                      width:100%;
                      position:absolute;

                }
            }
            h2{
                color: $beige-color;
                padding-bottom: 0.5em;
                text-align: center;
                text-transform: uppercase;
            }
            p{
                color: $gray-color;
                font-size: 1.15rem;
                padding-left: 1rem;
                i{
                    color: white;
                    margin: 0.15rem;
                }
            }
           
        }
    }
}